cache/*
!cache/.gitkeep
pgdata
.env
!.env.example
data
data/*
!rss/data

# *templ.go
*templ.txt

web/static/css/tailwind.css
web/static/js/vendor/*
!web/static/js/vendor/gitkeep

node_modules

# binary file
rasende2