package components

templ Centered(bigText bool, children ...templ.Component) {
	<div class="flex justify-center">
		if bigText {
			<div class="text-5xl leading-relaxed">
				for _, child := range children {
					@child
				}
			</div>
		} else {
			<div class="text-3xl leading-relaxed">
				for _, child := range children {
					@child
				}
			</div>
		}
	</div>
}
