package components

import (
	"fmt"
	"github.com/bjarke-xyz/rasende2-api/rss"
)

templ RasendeChart(model rss.ChartsResult) {
	<div class="flex flex-row flex-wrap">
		for i, chart := range model.Charts {
			<div id={ fmt.Sprintf("chart-placeholder-%v", i) } class="chart-placeholder m-4" data-chart-json={ templ.JSONString(chart) }></div>
		}
	</div>
}
