package components

type ErrorModel struct {
	Base               BaseViewModel
	Err                error
	DoNotIncludeLayout bool
}

templ errorTempl(err error) {
	<p>Error: { err.Error() }</p>
}

templ Error(model ErrorModel) {
	if model.DoNotIncludeLayout {
		@errorTempl(model.Err)
	} else {
		@Layout(model.Base, errorTempl(model.Err))
	}
}
