{{define "fakeNewsArticle"}}
<div class="container">
	<article class="prose">
		{{if .Base.IsAdmin}}
			<div class="admin-bar">
				<form method="POST" action="publish-fake-news">
					<input type="hidden" name="siteId" value="{{.FakeNews.SiteId}}" />
					<input type="hidden" name="title" value="{{.FakeNews.Title}}" />
					<button class="btn-primary">{{t "admin.toggleFeatured"}}</button>
				</form>
				<form method="POST" action="reset-article-content">
					<input type="hidden" name="siteId" value="{{.FakeNews.SiteId}}" />
					<input type="hidden" name="title" value="{{.FakeNews.Title}}" />
					<button class="btn-primary">{{t "admin.resetContent"}}</button>
				</form>
				<a href="{{articleGeneratorUrl .FakeNews.SiteId .FakeNews.Title}}">{{t "admin.articleGenerator"}}</a>
			</div>
		{{end}}
		<p>{{template "badge" .FakeNews.SiteName}}</p>
		<h1>{{.FakeNews.Title}}</h1>
		{{with .FakeNews.ImageUrl}}
			<img src="{{.}}" width="512" height="512" alt="" />
		{{end}}
		{{range paragraphs .FakeNews.Content}}<p>{{.}}</p>{{end}}
	</article>
</div>
{{end}}
