{{define "titleGenerator"}}
<div class="container" id="title-generator-container">
	<div class="centered">
		<form hx-get="title-generator" hx-target="#title-generator-container" hx-trigger="change from:select[name='siteId']" hx-push-url="true">
			<div class="field">
				<label for="site">{{t "titleGenerator.site"}}</label>
				<select id="site" class="select" name="siteId">
					<option value="" disabled selected>{{t "titleGenerator.choose"}}</option>
					{{$selected := .SelectedSiteId}}
					{{range .Sites}}
						<option value="{{.Id}}" {{if eq $selected .Id}}selected{{end}}>{{.Name}}</option>
					{{end}}
				</select>
			</div>
		</form>
	</div>

	{{if gt .SelectedSiteId 0}}
		<section class="title-generator-results">
			<p>{{template "badge" .SelectedSite.Name}}</p>
			<div id="title-sse-container-wrapper">
				{{template "titlesSse" (titlesSse .SelectedSiteId "" true)}}
			</div>
		</section>
	{{end}}
</div>
{{end}}
